DJANGO_SECRET_KEY="django-insecure-5$aqrre$#fxs@^d@b4yj2a9c!@f1quob*(q!8rqpduuz@$b34x"
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
BEMS_DEV_AUTH=true

DB_NAME=bems_dev_new
DB_USER=bems_app
DB_PASSWORD= "NewPassword333"
DB_HOST=localhost
DB_PORT=5433

# tests only (test DB is created and dropped by the test suite)
BEMS_TEST_DB_NAME=bems_test
BEMS_TEST_ADMIN_USER=postgres
BEMS_TEST_ADMIN_PASSWORD= "NewPassword333"
BEMS_TEST_OWNER_USER=bems_owner
BEMS_TEST_OWNER_PASSWORD="NewPassword333"



BEMS_STORAGE_ROOT=C:\bems_data\files
BEMS_UPLOAD_MAX_MB=20
BEMS_DOWNLOAD_LINK_TTL_SECONDS=120