Django>=5.1,<5.3
djangorestframework>=3.15
django-filter>=24.3
drf-spectacular>=0.27
psycopg[binary]>=3.2
python-dotenv>=1.0
pytest>=8.0
pytest-django>=4.9
qrcode==8.2
Pillow==11.3.0
python-barcode==0.16.1
reportlab==4.4.4
openpyxl==3.1.5